<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwagain.eagle.acquisitionIndictor.mapper.AcquisitionIndictorMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hwagain.eagle.acquisitionIndictor.entity.AcquisitionIndictor">
		<id column="fd_id" property="fdId" />
		<result column="indicator" property="indicator" />
		<result column="year" property="year" />
		<result column="price" property="price" />
		<result column="extra_subsidy_price" property="extraSubsidyPrice" />
		<result column="company_id" property="companyId" />
		<result column="supplier_id" property="supplierId" />
		<result column="state" property="state" />
		<result column="create_time" property="createTime" />
		<result column="creator_id" property="creatorId" />
		<result column="last_alter_time" property="lastAlterTime" />
		<result column="last_altor_id" property="lastAltorId" />
	</resultMap>

	<update id="deleteByIds" parameterType="Object">
		update acquisition_indictor set state = 2 where fd_id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
</mapper>
