<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwagain.eagle.base.mapper.CarInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hwagain.eagle.base.entity.CarInfo">
		<id column="fd_id" property="fdId" />
		<result column="supplier_id" property="supplierId" />
		<result column="supplier_name" property="supplierName" />
		<result column="car_type" property="carType" />
		<result column="plate_number" property="plateNumber" />
		<result column="car_length" property="carLength" />
		<result column="car_height" property="carHeight" />
		<result column="car_weight" property="carWeight" />
		<result column="load_weight" property="loadWeight" />
		<result column="license_type" property="licenseType" />
		<result column="state" property="state" />
		<result column="create_time" property="createTime" />
		<result column="creator_id" property="creatorId" />
		<result column="creator_name" property="creatorName" />
		<result column="last_alter_time" property="lastAlterTime" />
		<result column="last_altor_id" property="lastAltorId" />
	</resultMap>

</mapper>
